$font_basic: #515151;
$font_gray: #333333;
$weak_gray: #f1f1f1;
$white: #ffffff;
$very_weak_gray: #dadada;
$bright_blue: #6ccee7;
$weak_bright_blue: #6ccee720;
$blue: #296aa2;
$weak_blue: #296aa210;
$navy: #252f66;
$weak_navy: #252f6680;

$strong_gray: #4b5563;
$tag_gray: #2b2b33;
$purple_heading: #6667ab;
